# Database connection string
DATABASE_URI=postgres://postgres:<password>@127.0.0.1:5432/your-database-name

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE
DB_LOGGER=false

MAIL_DEFAULT_FROM=catharine.hills93@ethereal.email
MAIL_DEFAULT_FROM_NAME="Catharine Hills"
MAIL_SMTP_HOST=smtp.ethereal.email
MAIL_SMTP_PORT=587
MAIL_SMTP_USER=catharine.hills93@ethereal.email
MAIL_SMTP_PASS=ZAdCj48j6WDcYFMkZV

# Keep S3_BUCKET empty if you don't want to use S3
S3_BUCKET=
S3_ENDPOINT=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=